body {
    font-family: 'Verdana', Arial, sans-serif;
    background-color: #ffffff;
}

a {
    color: blue;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
a:hover {
    text-decoration: underline;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: grey;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

header .a_left {
    float: left;
    margin-left: 20px;
}
  
header .a_right {
    float: right;
    margin: 0 15px;
}
  
header .a_right a {
    color: blue;
    margin: 0 10px;
    transition: color 0.3s ease;
}

header .a_right a:hover     {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin-top: 100px;
}
form {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form label {
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}
