body {
    font-family: 'Verdana', Arial, sans-serif;
    background-color: #ffffff;
}

a {
    color: blue;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
a:hover {
    text-decoration: underline;
}

h2 {
    color: #aaa;
    margin-top: 80px;
    text-align: center;
}

table {
    position: relative;
    top: 2px;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    background-color: #fff;
}

table th, table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: rgb(40, 39, 71);
    color: white;
}

@media screen and (max-width: 768px) {
    table, tr, td {
        display: block;
        width: 100%;
    }
    
    table tr {
        margin-bottom: 15px;
    }
    
    table th, table td {
        position: relative;
        padding-left: 50%;
        text-align: right;
    }
    
    table th::before, table td::before {
        position: absolute;
        left: 10px;
        width: 45%;
        padding-left: 10px;
        font-weight: bold;
    }
    
    table th {
        background-color: transparent;
        color: #aaa;
    }
}